
*{
	margin: 0;
	padding: 0;
}
.app{
	width: 100%;
	height: 100%;
	background: url(../img/1-1F405111013.jpg) no-repeat center;
    background-size:cover ;
}
a{
	text-decoration: none;
	color: white;
}
.music{
    width: 100%;

	height: 3rem;
    display: flex;
	justify-content: space-between;
	color: #F0F8FF;
	line-height: 3rem;
}
.music span:nth-of-type(1){
	font-size: 1.4rem;
	margin-right: 3rem;
	color: gray;
}

.xuanka{
	width:80%;
	margin: auto;

}
.xuanka div{
	margin: 0.6rem 0;
	height:12.5rem;
	
	display:none;
	text-align: center;
	
}
.xuanka div p{ 
	display: block;
	margin-top: 1rem;
	font-size: 1.5rem;
	color: white;
	
}
.tab {
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	align-items: center;
	list-style:none;
	width:100%;
	height: 15rem;
	margin: 0 auto;
	overflow:hidden;
	
}
.tab li {
    
	width:40%;
	height:2.8rem;
	border-radius: 0.3125rem;
	color:#fff;
	border: 1px solid whitesmoke;
	font-size: 1.3rem;
	text-align:center;
	line-height:2.8rem;
	cursor:pointer;
}
.xuanka .on {
	display:block;
}
.tab li.cur {
	background:whitesmoke;
	color: brown;
}
form{
	width: 80%;
	text-align: center;
	
	margin: 0 auto;
}
#next{
	margin-top: 2.5rem;
	width: 40%;
	height: 3rem;
	font-size: 1rem;
	border-radius: 0.625rem;
	outline: none;
	border: none;
}
